<div class="row">
  <div class="col col-md-5 offset-md-3 col-lg-4 offset-lg-4">
    <h3>Register</h3>
    {{#if error}}
    <p class="alert alert-danger" style="font-size:0.8rem;padding:10px !important;">
      {{ loud error }}
    </p>
    {{/if}}
    <form action="/register" method="POST">
      <div class="card mb-3">
        <div class="card-header">
          User
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="fullName">
              Full Name
              <span class="text-danger">*</span>
            </label>
            <input name="fullName" id="fullName" type="text"
              class="form-control {{#if fullName.error }} error-element {{/if}}" 
                value="{{ fullName.value }}">
            {{#if fullName.error }}
            <p class="error-msg">{{{ fullName.msg }}}</p>
            {{/if}}
          </div>
          <div class="form-group">
            <label for="email">
              Email
              <span class="text-danger">*</span>
            </label>
            <input name="email" id="email" type="text" 
              class="form-control {{#if email.error }} error-element {{/if}}"
              value="{{ email.value }}">
            {{#if email.error }}
            <p class="error-msg">{{{ email.msg }}}</p>
            {{/if}}
          </div>
          <div class="form-group">
            <label for="password">
              Password
              <span class="text-danger">*</span>
            </label>
            <input name="password" id="password" type="password"
              class="form-control {{#if password.error }} error-element {{/if}}" 
                value="{{ passwoed.value }}">
            {{#if password.error }}
            <p class="error-msg">{{{ password.msg }}}</p>
            {{/if}}
          </div>
          <div class="form-group">
            <label for="role">
              User Role
              <span class="text-danger">*</span>
            </label>
            <select name="role" id="role" 
              class="form-control {{#if role.error }} error-element {{/if}}" 
                value="{{ role.value }}">
              <option value="">Select Role</option>
              <option value="Technician">Technician</option>
              <option value="Supervisor">Supervisor</option>
              <option value="Manager">Manager</option>
              <option value="Admin">Admin</option>
            </select>
            {{#if role.error }}
            <p class="error-msg">{{{ role.msg }}}</p>
            {{/if}}
          </div>
        </div>
      </div>
      {{#if loggedInUser}}
      {{#ifstreq loggedInUser.role "SuperAdmin"}}
      <div class="card mb-3">
        <div class="card-header">
          OAuth Clients
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="clientId">
              Client ID
              <span class="text-danger">*</span>
            </label>
            <input name="clientId" id="clientId" type="text"
              class="form-control {{#if ../clientId.error }} error-element {{/if}}" 
                value="{{ ../clientId.value }}">
            {{#if ../clientId.error }}
            <p class="error-msg">{{{ ../clientId.msg }}}</p>
            {{/if}}
          </div>
        </div>
      </div>
      {{/ifstreq}}
      {{/if}}
      <div class="button-group">
        <button class="btn btn-primary">
          Create Account
        </button>
      </div>
    </form>
  </div>
</div>
